<!-- Zone de Notification -->
<div *ngIf="notification" class="fixed top-4 right-4 bg-green-500 text-white p-2 rounded shadow-lg">
  {{ notification }}
</div>

<!-- Header et Contenu -->
<header class="flex justify-between items-center p-4 bg-gray-800 text-white shadow-md w-full">
  <div class="flex items-center">
      <img *ngIf="imageUrl" [src]="imageUrl" alt="Logo" class="w-12 h-12 mr-2">
      <h1 class="text-xl font-bold">VisuStatsFootball</h1>
      <!-- Bouton "Retour à la page d'accueil" placé à droite du texte -->
      <div *ngIf="!isLandingPage" class="ml-10">
          <button
              (click)="navigateToHome()"
              class="
                    bg-blue-500 hover:bg-blue-600 text-white 
                    px-1 py-1 text-sm
                    md:px-3 md:py-1 md:text-base
                    rounded shadow-md transition duration-300
                    focus:outline-none focus:ring-4 focus:ring-blue-300"
            >
              Retour à l'accueil
          </button>
      </div>
  </div>
  <nav class="flex flex-col md:flex-row gap-2">
    <!-- Bouton "Register" visible si non connecté -->
    <button
      *ngIf="!authService.isLoggedIn()"
      (click)="goToRegister()"
      class="px-2 py-1 text-sm md:px-3 md:py-1 md:text-base bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-4 focus:ring-blue-300"
    >
      Register
    </button>
  
    <!-- Bouton "Login" visible si non connecté -->
    <button
      *ngIf="!authService.isLoggedIn()"
      (click)="goToLogin()"
      class="px-2 py-1 text-sm md:px-3 md:py-1 md:text-base bg-green-500 hover:bg-green-700 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-4 focus:ring-green-300"
    >
      Login
    </button>
  
    <!-- Bouton "Logout" visible si connecté -->
    <button
      *ngIf="authService.isLoggedIn()"
      (click)="logout()"
      class="px-2 py-1 text-sm md:px-3 md:py-1 md:text-base bg-red-500 hover:bg-red-700 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-4 focus:ring-red-300"
    >
      Logout
    </button>
  </nav>
</header>

<router-outlet></router-outlet>
